{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row container-fluid">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li class="active"><span>Kết quả tìm kiếm</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}
{{#section 'css'}}
    <link href="/assets/css/docs.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
    .btn-account i {
        margin-top: 2%;
        font-size: 30px;
    }
    
    .btn-account span {
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        font-size: 130%;
    }
    
    .btn-account span small {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="/assets/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
    function addOrUpdateUrlParam(name, value) {
        var href = window.location.href;
        var regex = new RegExp("[&\\?]" + name + "=");
        if (regex.test(href)) {
            regex = new RegExp("([&\\?])" + name + "=\\d+");
            window.location.href = href.replace(regex, "$1" + name + "=" + value);
        } else {
            if (href.indexOf("?") > -1)
                window.location.href = href + "&" + name + "=" + value;
            else
                window.location.href = href + "?" + name + "=" + value;
        }
    }
    </script>
{{/section}}
{{> categoriesPanel this}}
<div class="col-md-9 container " style="padding-left: 2%;">
    <div class="row" style="margin-bottom: 1%">
        <h3 style="float: left">Kết quả tìm kiếm cho '{{word}}':&nbsp</h3>
        <h3 style="color:#00f">{{total}} kết quả</h3>
        <hr>
        <h4 style="display: inline-block; float:left;">Sắp xếp theo&nbsp&nbsp&nbsp</h4>
        <div class="dropdown" style="width:">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{orderString}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript: addOrUpdateUrlParam('order', 0);" data-value="action">Từ A đến Z</a></li>
                <li><a href="javascript: addOrUpdateUrlParam('order', 1);" data-value="action">Thời gian kết thúc tăng dần</a></li>
                <li><a href="javascript: addOrUpdateUrlParam('order', 2);" data-value="another action">Thời gian kết thúc giảm dần</a></li>
                <li><a href="javascript: addOrUpdateUrlParam('order', 3);" data-value="something else here">Giá hiện tại tăng dần</a></li>
                <li><a href="javascript: addOrUpdateUrlParam('order', 4);" data-value="separated link">Giá hiện tại giảm dần</a></li>
            </ul>
        </div>
    </div>
    {{#each rows}}
        <div class="row well well-md " style="background-color: #fff ">
            <div class="media ">
                <div class="media-left ">
                    <a href="/product/detail/{{madaugia}}"><img class="media-object pull-left " src="/Imgs/sp/{{madaugia}}/main_thumbs.jpg" width="150px " height="130px " alt="... " style="border:1px solid silver">
                    </a>
                </div>
                <div class="media-body ">
                    <div class="row ">
                        <!-- Tên sản phẩm -->
                        <div class="col-md-6 ">
                            <a class="media-heading " style="font-size: 150%;font-weight: bold; " href="/product/detail/{{madaugia}}">                        {{tensp}}
                            </a>
                            {{#isNewProduct tgbatdau}}
                                <span class="label label-danger">New</span>
                            {{/isNewProduct}}
                            <br>
                            <div style="vertical-align: text-bottom">
                                <span>Người đăng bán: </span> <a href="#">{{ten}}</a>
                                <br>
                                <span>Danh mục: </span> <a href="/product/byCat/{{danhmuc}}">{{tendanhmuc}}</a>
                            </div>
                        </div>
                        <!-- Giá sản phẩm -->
                        <div class="col-md-3 " style="padding-top: 1%; border-left: 1px dotted black; ">
                            <!-- Giá hiện tại -->
                            <span style="font-size: 85% ">Giá hiện tại:</span>
                            <br>
                            <div style="text-align: right ">
                                <span class="numberical-info-small " style="font-weight: bold; color:#00f; font-size: 120%; text-align: right ">{{formatNumber giahientai}} </span>&nbspvnd</div>
                            <!-- Giá mua ngay -->
                            <span style="font-size: 85% ">Giá mua ngay: </span>
                            {{#if giamuangay}}
                                <div style="text-align: right ">
                                    <span class="numberical-info-small " style="font-weight: bold; font-size:120%; color:#f00 ">{{formatNumber giamuangay}}</span>&nbspvnd</div>
                            {{else}}
                                <div style="text-align: right ">
                                    <span class="numberical-info-small " style="font-weight: bold; font-size:120%; color:#f00 ">Không có</span>&nbspvnd</div>
                            {{/if}}
                            <!-- Người giữ giá -->
                            <span style="font-size: 85% ">Người giữ giá:</span>
                            <br>
                            {{#if nguoitragia}}
                                <div style="text-align: right ">
                                    <span class="numberical-info-small " style="font-weight: bold; color:#00f; font-size: 120%; text-align: right ">{{hideRealUserName nguoitragia}} </span></div>
                            {{else}}
                                <div style="text-align: right ">
                                    <span class="numberical-info-small " style="font-weight: bold; color:#00f; font-size: 120%; text-align: right ">Chưa có</span></div>
                            {{/if}}
                        </div>
                        <!-- Thông tin khác -->
                        <div class="col-md-3 " style="padding-top: 1%; border-left: 1px dotted black; ">
                            <!-- Thời gian còn lại -->
                            <span style="font-size: 85% ">Thời gian còn lại: </span>
                            <div style="text-align: center ">
                                <span class="numberical-info-small " style="font-weight: bold; font-size: 130%; color:#00f; font-size: 130% ">{{timeRemain tgketthuc}}</span></div>
                            <!-- Lượt đấu giá -->
                            <span style="font-size: 85% ">Số lượt đấu giá: &nbsp</span>
                            <div style="text-align: center "><span class="numberical-info-small " style="font-weight: bold; font-size: 130%; color:#f00 ">{{solandaugia}}</span>&nbsplượt</div>
                            <!-- Nút đấu giá -->
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" style="box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);border: none;border-radius: 0px;background-color: #0CC81E; margin-top: 1%">
                                    <span style="font-weight: bold;color: #fff; font-size: 80%">Đấu giá</span>
                                </button>
                                <button type="button" class="btn btn-default" style="box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);border: none;border-radius: 0px;background-color: #FDD835; margin-top: 1%">
                                    <span style="font-weight: bold;color: #fff; font-size: 80% ">Theo dõi</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>
                    <a href="javascript: addOrUpdateUrlParam('page', {{prevPage}});" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="javascript: addOrUpdateUrlParam('page', {{pageValue}});">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="javascript: addOrUpdateUrlParam('page', {{pageValue}});">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a href="javascript: addOrUpdateUrlParam('page', {{nextPage}});" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
    {{!-- {{/if}}
    --}} </div>
